<!DOCTYPE html>
<html lang="sl">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <main>
      <div class="container">
        <h1>Login</h1>

        {% if error %}
        <div class="result error">{{ error }}</div>
        {% endif %}

        <form method="post" action="/login">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            placeholder="admin"
            value="admin"
            required
          />

          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="••••••••"
            value="password"
            required
          />

          <button type="submit" class="btn btn-primary fullwidth height-tall">
            Login
          </button>
        </form>
      </div>
    </main>
  </body>
</html>
