{% extends "base.html" %} {% block title %}Invoice Management{% endblock %} {%
block content %}
<div class="container">
  <h1>⚙️ Invoice Management</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Student ID</th>
        <th>Period Start</th>
        <th>Period End</th>
        <th>Final Amount</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for invoice in invoices %}
      <tr>
        <td>{{ invoice.id }}</td>
        <td>{{ invoice.student_id }}</td>
        <td>
          {{ invoice.period_start.strftime("%Y-%m-%d %H:%M") if invoice.period_start
          else "-" }}
        </td>
        <td>
          {{ invoice.period_end.strftime("%Y-%m-%d %H:%M") if invoice.period_end
          else "-" }}
        </td>
        <td>{{ "%.2f"|format(invoice.total) }}</td>
        <td class="action-buttons">
          <button class="btn btn-primary fullwidth" style="flex: 1"
            onclick="window.location.href='/invoices/{{ invoice.id }}/view_invoice'">
            👁️ View
          </button>
          <form class="flex-1" method="post" action="/invoices/{{ invoice.id }}/delete">
            <button type="submit" class="btn btn-error fullwidth">
              🗑️ Delete
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}